body 
	{
		/*background: #000000*/
		background: purple;
		/*background: rgb(155,40,33);*/
		/*background: rgb(255,12,54);*/
		color:white;
	}

main
{
	margin-top: 15px;
}

footer
	{
		border: 1px solid pink;
		font-weight: bold; /*negritas*/
		/*texto denrto del footer centrado:*/
		padding: 20px;
		text-align: center;

	}

header
	{
		border: 1px solid black;
		text-align: center;

	}

header nav ul li
	{
		background: black;
		border: 0.5px solid black;	
		border-radius: 5px; /*redondea las cajas*/
		display: inline-block; /*se ponen a un lado de la otra, als cajas se hicieron tan chicas como su contenido*/ /*es muy importante el inline block*/
		padding: 5px 10px;
		/*margin-right: 15px;*/
		margin: 0px 50px 0px 0px;
		width: 100px; /*ancho especifico*/
	}

	header nav ul li:hover /*no poner espacio porque no agarra*/
	{
		background: pink;
		border: 0.5px black;	
		border-radius: 5px; /*redondea las cajas*/
		display: inline-block; /*se ponen a un lado de la otra, als cajas se hicieron tan chicas como su contenido*/ /*es muy importante el inline block*/
		padding: 5px 10px;
		width: 100px; /*ancho especifico*/
	}

	main section article
	{
		border: 1px dashed black;
		display: inline-block;
		vertical-align: top;
		/*quitarle el modo block*/
		/*cambiarle el ancho a cada article:*/
		width: 32.82%;
	}