body
	{
		border:1px solid blue;/*border del body*/
		font-size: 16px; /*tamaño normal de letra en el web, tamaño base*//* 16px=1em, y 1em es igual al ancho de la M*/ /*se le pone siempre el 16px por si el usuario cambia las preferencias delnavegador*/
		margin: 0 auto; /*centrar la caja de manera automática, mover cajas. Arriba y abajo 0, y los lados automáticos*/
		max-width: 1024px; /*tamaño del body, resolución actual más pequeña */

	}

header
	{
		background: #b3d0e0; /*elemtal, los punto y coma siempre van*/
		margin-bottom:15px;
	}

header form
	{ /*flota todo hacia la dercha*/
		float:right;
		margin-bottom:15px;
		margin-top: -33px;
		margin-right: 15px;
	}

header form input
	{
		border-radius: 5px;
	}


header form input[type="button"] /*referirme a un solo input, a los que son de tipo botton*/
{
	background: green;
	border: 1px solid green;
	color: white;
}



header nav
	{
		background: #026dc6; /*fondo*/
		border-radius:  5px;/*esquinas redondeadas*/
		margin: 0 auto;/*centrado*/
		padding: 2px 0px; /*ancho*/
		width: 99%; /*que no pegue en los bordes derecha e izquierda*/
	}
header nav ul li
	{
		color:white;
		display: inline-block;
		margin-right: 20px;
	}
#logo /*lamas id*/
		{	
			margin-top: -150px;
		}

#seccion01
	{
		margin-top: 15px;
	}

#seccion01 article
	{
		text-align: center;
	}

#seccion01 article img
	{
		border: 5px solid rgba(150,150,150,0.5);
		width: 98%;
	}